html body{
	background: #e9e9e9;
}
.grid-tile {
-moz-box-shadow: 0px 1px 1px rgba(50,50,50,0.09);
-webkit-box-shadow: 0px 1px 1px rgba(50,50,50,0.09);
box-shadow: 0px 1px 1px rgba(50,50,50,0.09);
background: #fff;
padding: 25px;
position: relative;
}
.content {
background-color: #FFFFFF;
border-radius: 5px;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
margin: 0 auto 9px;
width: 486px;
}